@import "../mixins/mixins";
@import "../mixins/_variables";

.footer-wrapper {
  padding: 70px 0;
  width: 100vw;
  background-color: $footer-bg;
}

.footer {
  color: #ffffff;
  margin: 0 auto;

  // NAVBAR

  &__navbar {
    width: 100%;
    padding-bottom: 70px;
    @include flex-between;

    @media screen and (max-width: 900px) {
      flex-wrap: wrap;
    }

    & a {
      color: #ffffff;
      text-decoration: none;

      &:hover {
        color: $text-color-orange;
        text-decoration: underline;
      }
    }

    &-list {
      @include flex-start;
      align-items: flex-start;
      flex-direction: column;
      height: 280px;

      @media screen and (max-width: 900px) {
        width: 49%;
        justify-content: space-between;
        margin-bottom: 30px;

        &:last-child {
          justify-content: flex-start;
        }
      }



      &-title {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        margin-bottom: 30px;
      }

      &-about {
        font-size: 13px;
        line-height: 20px;
        font-weight: 500;
        margin-bottom: 30px;


      }

      &-other {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
      }
    }
  }

  // Contacts

  &__contacts {
    padding-bottom: 40px;

    &-socials {
      @include flex-between;
      flex-direction: row;

      @media screen and (max-width: 870px){
        flex-direction: column;
      }

      &-list {
        width: 330px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &-item {
          background-color: $footer-soc-item;
          margin-bottom: 10px;

          & a {
            @include flex-center;
            width: 160px;
            height: 56px;
            color: #ffffff;
            text-decoration: none;

            &:hover {
              background-color: $main-color-focus;
              text-decoration: underline;
            }
          }
        }
      }

      &-feedback {
        width: 1060px;
        height: 122px;
        margin-bottom: 10px;
        padding: 0 30px;
        background-color: $footer-soc-item;
        @include flex-between;
        flex-direction: row;

        @media screen and (max-width: 1450px) {
          height: 264px;
          margin-bottom: 0;
        }

        @media screen and (max-width: 870px) {
          width: 100%;
        }

        &-data {
          width: 50%;
          height: 100%;
          @include flex-start;
          flex-direction: column;
          justify-content: center;

          @media screen and (max-width: 870px) {
            flex-direction: column;
          }

          & a {
            color: $text-color-orange;
            font-size: 16px;
            line-height: 34px;
          }

          & span {
            font-size: 28px;
            line-height: 36px;
            color: #ffffff;

            @media screen and (max-width: 1460px) {
              font-size: 22px;
            }

            @media screen and (max-width: 1160px) {
              font-size: 16px;
            }

            @media screen and (max-width: 870px) {
              width: 150px;
            }
          }
        }

        &-call {
          width: 50%;
          @include flex-end;

          @media screen and (max-width: 600px) {

          }

          & a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 360px;
            height: 72px;
            color: $text-color-orange;
            background-color: $btn-color;
            -webkit-border-radius: 36px;
            -moz-border-radius: 36px;
            border-radius: 36px;
            -webkit-box-shadow: 0px 0px 10px 5px rgba(240, 134, 4, 0.2);
            -moz-box-shadow: 0px 0px 10px 5px rgba(240, 134, 4, 0.2);
            box-shadow: 0px 0px 10px 5px rgba(240, 134, 4, 0.2);

            &:hover {
              background-color: $main-color-focus;
              color: #ffffff;
            }

            @media screen and (max-width: 600px) {
              font-size: 16px;
              width: 180px;
              text-align: center;
            }
          }
        }
      }

    }
  }

  // Answer

  &__answer {
    @include flex-between;
    padding: 15px 0;
    flex-direction: row;
    margin-bottom: 40px;

    @media screen and (max-width: 870px) {
      flex-direction: column;
    }

    & a {
      @include flex-center;
      width: 330px;
      height: 50px;
      color: #ffffff;
      text-decoration: none;

      @media screen and (max-width: 1450px) {
        width: 250px;
      }

      @media screen and (max-width: 1150px) {
        width: 150px;
        font-size: 12px;
      }

      @media screen and (max-width: 870px) {
        margin-top: 15px;
        width: 330px;
      }

      &:hover {
        color: $text-color-orange;
        text-decoration: underline;
      }
    }

    &-vk {
      background-color: $footer-bg-vk;
    }

    &-tg {
      background-color: $footer-bg-tg;
    }

    &-fb {
      background-color: $footer-bg-fb;
    }
  }

  // Copyright

  &__copyright {
    @include flex-between;
    flex-direction: row;

    @media screen and (max-width: 870px) {
      flex-direction: column;

      & span {
        margin-top: 15px;
      }
    }


  }
}
