$main-color: #D6E0E4;
$main-color-focus: #F08604;
$main-color-active: #2A92F5;
$main-color-btn: #F6F7F7;

$checkbox-color: #EFF1F1;
$checkbox-color-active: #2A92F5;

$btn-color: #ECECEC;

$text-color-grey: #677179;
$text-color-orange: #F08604;

$border-color: rgba(103, 113, 121, .5);
$border-feedback: #EBF1F3;

$results-border-color: #EAEAEA;

$address-color: #252831;
$adr-btn: #ECECEC;

$footer-bg: #1D1D22;
$footer-soc-item: #1A1A1E;

$footer-bg-vk: #5788BD;
$footer-bg-tg: #0088CC;
$footer-bg-fb: #496194;
